@media only screen and (max-width:767px) {

  /* Un message personnalisé */

  body:before {
    content: "Version mobile du site 1.2";
    display: block;
    text-align: center;
    font-style: italic;
    color: #7dc8ff;
  }

 /* Styles */
body {
      background-color: #fff;
      font-family: 'Lato', sans-serif;
      margin: 0;
      padding: 0;
      font-size: 13px;
    }
form {
	background-color: #6F9BE8;
	border: 8px solid #232BC4;
	flex-direction: column;
	align-items: left;
	padding: 15px;
	margin: 0 auto;
	width: 85%;
	margin-top: 0px;
	border-radius: 0px;
    }
    
form input[type=text], form select {
	margin-bottom: 0px;
	padding: 10px;
	border-radius: 0px;
	border: thin solid #232BC4;
	font-size: 15px;
    }

form select {
      background-color: #fff;
      margin-bottom: 10px;
      padding: 10px;
      border-width: 1px;
      border-color: #000;

    }
form button {
	padding-top: 15px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
	background-color: #FFFFFF;
	color: #232BC4;
	border: thin solid #232BC4;
	border-radius: 0px;
	cursor: pointer;
	width: 25%;
	font-size: 16px;
	align-items: center;
	font-weight: bold;
    }  

h1 {
      font-size: 24px;
      color: #000;
      border: none;
      align-items: center;
       margin-top: 15px;
      margin-bottom: 10px;
    }

#logo {
      display: block;
      margin: 0 auto;
    }
#conversion-result {
      margin-top: 20px;
      font-size: 16px;
      text-align: center;
    }
#result-container {
	border: 0px solid #FF0004;
	flex-direction: column;
	align-items: left;
	padding: 10px;
	margin: 0 auto;
	width: 85%;
	margin-top: 20px;
	border-radius: 8px;
	font-size: 16px;
    }
#message  {
      background-color: #ffffff;
      border: 0px solid #999;
      flex-direction: column;
      align-items: left; 
      margin: 0 auto;
      width: 90%;
      margin-top: 20px;
    }
#news
  {
      padding: 0px;
      margin: 0 auto;
      width: 90%;
      margin-top: 20px;
      font-size: 15px;
     color: #000; 
    }
#credits
    {
      padding: 0px;
      margin: 0 auto;
      width: 90%;
      margin-top: 10px;
      font-size: 15px;
      color: #707070;
    }
.containerCredits {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
        
.columnCredits {
      flex: 1;
      text-align: center;
      justify-content: center;
		border-color: #6F9BE8;
	border-style: solid;
	padding: 10px;
	padding-top: 20px;
    }
.logo {
      max-width: 100%;
      height: auto;
      margin: 0 auto;
 margin-bottom: 10px;
    }

}


@media (min-width:768px){

body {
	background-color: #fff;
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
	border: medium  #FF0000;
	font-size: 14px;
    }
    
header {
      background-color: #7dc8ff;
      color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      padding: 0 20px;
      border: solid;
      border-color: black;
    }
    
header a {
      color: #fff;
      text-decoration: none;
      margin-left: 20px;
    }
    
form {
	background-color: #6F9BE8;
	border: 8px solid #232BC4;
	flex-direction: column;
	align-items: left;
	padding: 15px;
	margin: 0 auto;
	width: 75%;
	margin-top: 0px;
	border-radius: 0px;
    }
    
form input[type=text], form select {
	margin-bottom: 0px;
	padding: 10px;
	border-radius: 0px;
	border: thin solid #232BC4;
	font-size: 14px;
    }
form button {
	padding-top: 15px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
	background-color: #FFFFFF;
	color: #232BC4;
	border: thin solid #232BC4;
	border-radius: 0px;
	cursor: pointer;
	width: 15%;
	font-size: 16px;
	align-items: center;
	font-weight: bold;
    }
h1 {
	font-size: 30px;
	color: #000;
	border: none;
	align-items: center;
	margin-top: 15px;
	margin-bottom: 0px;
    }
#logo {
      display: block;
      margin: 0 auto;
    }
#conversion-result {
      margin-top: 20px;
      font-size: 16px;
      text-align: center;
    }
#result-container {
	border: 0px solid #FF0004;
	flex-direction: column;
	align-items: left;
	padding: 10px;
	margin: 0 auto;
	width: 75%;
	margin-top: 20px;
	border-radius: 8px;
	font-size: 16px;
    }
#message  {
	background-color: #ffffff;
	border: 0px solid #999;
	flex-direction: column;
	align-items: left;
	font-size: 15px;
	margin: 0 auto;
	width: 75%;
	margin-top: 10px;
	margin-bottom: 10px;
    }
#news
  {
      padding: 0px;
      margin: 0 auto;
      width: 75%;
      margin-top: 20px;
      font-size: 15px;
     color: #000; 
    }
#credits
  {
      padding: 0px;
      margin: 0 auto;
      width: 75%;
      margin-top: 10px;
      font-size: 15px;
      color: #707070;
    }
.containerCredits {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
.columnCredits {
      flex: 1;
      text-align: center;
      justify-content: center;
	border-color: #6F9BE8;
	border-style: solid;
	padding: 10px;
	padding-top: 20px;
    }
.logo {
      max-width: 100%;
      width: 50%;
      height: auto;
      margin: 0 auto;
	 margin-bottom: 10px;
    }

}
